* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* Start Loading */
.Loading-Page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 3333;
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
    color: rgba(230, 126, 34, 0.5882352941176471);
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
    color: rgba(230, 126, 34, 0.5882352941176471);
}

/* End Loading */
/* Start Back to Top*/
#backtotop {
    display: inline-block;
    background-color: #e67e22;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#fas fa-chevron-up::after {
    content: "\f102";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#backtotop:hover {
    cursor: pointer;
}

#backtotop:active {
    background-color: #555;
}

#backtotop.show {
    opacity: 1;
    visibility: visible;
}

/* Styles for the content section */

.content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
}

@media (min-width: 500px) {
    .content {
        width: 43%;
    }

    #backtotop {
        margin: 30px;
        padding-top: 10px;
    }
}

.content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
}

.content h3 {
    font-style: italic;
    color: #96a2a7;
}

/* End Back to Top*/
/* Start navbar */
nav.navbar {
    position: absolute;
    width: 100%;
    padding: 25px 0;
    z-index: 3333;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: #fff;
    font-weight: 600;
}

.navbar-light .nav-item.active a.nav-link {
    color: #e67e22;
}

.navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e67e22;
}

/* End navbar */

/* Start Home Page  */
.home {
    width: 100%;
    height: 100%;
    background-image: url(../images/home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .45);
    background-blend-mode: overlay
}

.home #particles-js {
    position: absolute;
    width: 100%;
    height: 100%
}

.home .row,
.home .container {
    width: 100%;
    height: 100%;
}

.home h1 {
    font-weight: bold;
    color: #fff;
    font-size: 6em;
}

.home .home-type,
.home .containt-type {
    color: #fff;
}

.typed-cursor {
    /* opacity: 0 !important; */
    color: #fff
}

.home .home-mouse {
    bottom: 5.5%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 29px
}

.home .home-mouse .mouse-shape {
    background-color: rgba(0, 0, 0, .45);
    border: 2px solid transparent;
    border-color: #fff;
    border-radius: 25px;
    box-sizing: content-box;
    height: 28px;
    opacity: .8;
    padding: 5px 11px;
    width: 3px;
}

.home .home-mouse .mouse-shape .mouse-wheel {
    -webkit-animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: scrollDown;
    -webkit-animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-name: scrollDown;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    background-color: #fff;
    border-radius: 25%;
    height: 9px;
    width: 3px
}

@-webkit-keyframes scrollDown {
    0% {
        opacity: 0
    }

    10% {
        -webkit-transform: translateY(0);
        opacity: 1;
        transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(15px);
        opacity: 0;
        transform: translateY(15px)
    }
}

@keyframes scrollDown {
    0% {
        opacity: 0
    }

    10% {
        -webkit-transform: translateY(0);
        opacity: 1;
        transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(15px);
        opacity: 0;
        transform: translateY(15px)
    }
}

/* End Home Page*/
/* Start About Page*/
.about h2 {
    font-weight: 600;
    padding-bottom: 26px;
}

.about p {
    font-size: 16px;
    line-height: 29px;
    margin: 0;
    color: #080808;
}

.about h6 {
    font-weight: 600;
    font-size: 18px;
}

.about .content-description {
    padding-top: 20px;
    margin: 0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.about a {
    color: #e67e22;
}

.about .single-info span {
    display: inline-block;
}

.about .single-info p {
    padding: 0 5px;
}

.about .single-info span,
.about .single-info p {
    display: inline-block;
}

.about .content-work {
    border: 1px solid #e67e22;
}

.about .content-work:hover {
    background-color: #e67e22;
    color: #fff;
}

.about .content-info {
    padding: 0;
    margin-bottom: 30px;
}

.about .content-Download {
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin: 0 20px;
}

.about .content-Download:hover {
    background-color: #fff;
    color: #e67e22;
}

/* End About Page*/
/* Start service */
.service {
    background-color: #fafafa;
}

.service-info p {
    padding: 15px 22%;
    letter-spacing: 0.3px;
    line-height: 30px;
    color: #505050;
    font-size: 14px;
}

.service-body {
    padding-top: 30px;
    display: flex;
    overflow: hidden;
}

.service-body i {
    padding-bottom: 20px;
    color: #e67e22;
}

.service-body h4 {
    margin: 0;
    padding: 10px 0 15px 0;
}

.service-body p {
    padding: 0 20px;
}

.service-body .icon {
    padding-bottom: 30px;
}

/* End service */
/*portofolio*/
.portfolioFilter {
    padding: 15px 0;
}

.portofolio img {
    width: 100%;
    margin-bottom: 20px;
}

.portfolioFilter a {
    margin-right: 6px;
    color: #666;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 4px 15px;
    border-radius: 50px;
    display: inline-block;
}

.portfolioFilter a.current {
    background: #1e1e1e;
    border: 1px solid #1e1e1e;
    color: #f9f9f9;
}

.portfolioContainer {
    width: 100%
}

.portfolioContainer img {
    margin: 5px;
    max-width: 100%;
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

/* portofolio */
.filter-button-group {
    padding: 20px 0;
}

.is-checked {
    padding: 5px 15px;
    margin-right: 10px;
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    border-radius: 5px;
}

.not-checked {
    padding: 5px 15px;
    margin-right: 10px;
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    border-radius: 5px;
}

.button-filter {
    margin-right: 10px;
    padding: 5px 15px;
    background: #fff;
    color: #e67e22;
    border: 1px solid #e67e22;
    border-radius: 5px;
}

.button-filter:hover {
    background: #e67e22;
    color: #fff;
}

.portofolio .images {
    width: 100% !important;
}

/* portofolio */

/* Start Hire me  */
.hire-me {
    background-color: rgba(0, 0, 0, 0.61);
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
}

.hire-me h2 {
    font-weight: 700;
    color: #fff;
    font-size: 23px;
}

.hire-me p {
    color: #aba9a9;
    margin: 0;
}

.hire-me .btn-primary {
    color: #e67e22;
    background-color: #fff;
    border-color: #e67e22;
    padding: 10px 30px;
    margin-top: 25px;
    border-radius: 10px;
}

.hire-me .btn-primary:hover {
    background-color: #e67e22;
    color: #fff;
}

/* End Hire me  */

/* Start Blog */
.blog {
    background-color: #fafafa;
}

.blog .image img {
    width: 100%;
    height: auto;
}

.blog h5 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: capitalize;
}

.blog span {
    padding-left: 10px;
    color: #e67e22;
}

.blog a {
    color: #978c8c;
}

/* End Blog  */
/* Start contact */
.contact {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fff;
}

.contact .contact-details {
    padding-bottom: 25px;
}

.contact .contact-details {
    display: inline-flex;
    padding-top: 25px;
}

.contact-details i {
    padding: 15px 0;
}

.contact-details h4 {
    padding: 5px 0;
}

.contact-details p {
    padding: 0 20px;
}

.contact-details span {
    color: #e67e22;
}

.contact-data {
    margin: 0;
    padding: 15px 5px;
}

.form-group {
    padding: 9px 20px;
    width: 520px;
}

.controls-1, .controls-2 {
    padding: 0;
}

.btn.btn-send {
    margin: 0 20px;
    position: absolute;
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn.btn-send:hover {
    background-color: #e67e22;
    color: #fff;
}

/* End contact */
/* Start social */
.social .icons img {
    width: 3%;
}

.social {
    background-color: #333;
}

.social-data h2 {
    color: #fff;
    font-weight: 700;
    font-size: 23px;
}

.social-data p {
    padding: 15px 22%;
    letter-spacing: 0.3px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    color: #aba9a9;
    margin: 0;
}

.social-data .icons {
    padding-top: 25px;
}

.social-data .icons i {
    border: 2px solid #fff;
    padding: 5px 10px;
    color: #fff;
}

.social-data .icons i:hover {
    background-color: #e67e22;
}

/* End social */
/* Start Footer */
footer p {
    width: 100%;
    font-weight: 600;
    margin: 0;
}

/* End Footer */

/*Start Framework*/
/*.navbar,*/
.about,
.service,
.portofolio,
.hire-me,
.blog,
.contact,
.social {
    padding-top: 90px;
    padding-bottom: 90px;
}

.T-table {
    display: table;
    width: 100%;
    height: 100%;
}

.T-table-cell {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.se-p {
    padding: 15px 22%;
    letter-spacing: 0.3px;
    line-height: 30px;
    color: #505050;
    font-size: 14px;
}

.span-color {
    color: #e67e22;
}

.se-header {}

/*End Framework*/