* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    height:auto;
}
.home {
    background-color: darkgray;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
}
.home h2 {
    padding-bottom: 25px;
}
.home p {
    padding: 0 50px;
}
.btn-lg {
/*    padding: 10px 30px;*/
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 15px 30px;
    margin-top: 25px;
}
/*contact*/
.contact {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #6c757d0f;
}
.contact-info,
.contact-info h2 {
    padding-bottom: 25px;
}
.contact-info p {
    padding: 0 50px;
}
.contact .contact-details {
    padding-bottom: 25px;
}
.contact .contact-details {
    display: inline-flex;
    padding-top: 25px;
}
.contact-details i {
    padding: 15px 0;
}
.contact-details h4 {
    padding: 5px 0;
}
.contact-details p {
    padding: 0 20px;
}
.contact-details span{
    color: #f20b0b;
}
.contact-data {
    padding-top: 25px;
}
.form-group {
    padding: 9px 20px;
    width: 600px;
}
.btn.btn-send {
    margin: 0 25px;
    position: absolute;
    left: 160%;
    border: 1px solid #555;
}
/*contact*/
.social {
    background-color: #495057;
}
.social-data h2 {
    padding-bottom: 25px;
}
.social-data p {
    padding: 0 10%;
}
.social-data .icons {
    padding-top: 25px;
}
.social-data .icons i {
    border: 2px solid #fff;
    padding: 5px 10px;
    color: #fff;
}
/* Start Footer */
footer {
    padding: 25px;
}

footer p {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #007bff;
    font-weight: bold;
}

/* End Footer */

/*Start Framework*/
/*.navbar,*/
.home,
.contact,
.social {
    padding-top: 90px;
    padding-bottom: 90px;
}
/*End Framework*/

